body {
  font-family: 'Ubuntu', sans-serif;
  padding-top: 3.5rem;
  background-color: #fff8f0;
}

p {
  font-weight: 400;
  line-height: 35px;
  font-size: .95em;
  vertical-align: top;
  margin-top: -4px;
}

.container {
  max-width: 1100px;
}

.content {
  padding-top: 2.5rem;
}

/* INDEX */
#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}

#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

.cities-dropdown {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-font-smoothing: antialiased;
}

.search {
  text-align: center;
}

input.index-search[type="text"] {
  display: block;
  margin : 0 auto;
}

.index-splash {
  margin: auto;
  margin-bottom: 2rem;
}

.form-control {
  margin-bottom: .3rem;
}

/* NAVBAR */
li.nav-item:nth-last-child(-n+1) a {
  padding-right: 0;
}

.logo {
  font-weight: 900;
  font-size: 2em;
  letter-spacing:-1.5px;
}

a.logo, a.nav-link {
  text-decoration: none;
  color: black;
}

a.logo:hover {
  text-decoration: none;
  color: inherit;
}

.navbar {
  padding: .2rem 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
}

img.logo {
  height: 40px;
}

.nav-links {
  margin-bottom: 0;
}

.masthead {
  height: 3.5rem;
  background-color: #ffe463;
}

/* FORMS */
.error-message {
  color: red;
}

/* PROFILE */
.review-body {
  margin-bottom: 2rem;
}

.user-name {
  font-weight: 900;
}

.user-join-date {
  font-size: .7em;
}

.profile-details {
  padding-top: 1.5rem;
}

.city-name {
  font-size: 1.2rem;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #005fac;
  text-decoration: none;
  transition: all 0.5s ease;
}

.post-city-name {
  color: #c63102;
  font-size: .7em;
  margin-top: .7em;
  text-transform: uppercase;
}

.tool {
  height: 12px;
  transition: none;
}

.edit-button {
  padding: 0;
}

.edit-button:hover {
  cursor: pointer;
}

.modal-header {
  border-bottom: 0;
}

.modal-footer {
  border-top: 0;
}

/* CITY PAGE */
.img-thumbnail {
  border: 0 none;
  box-shadow: none;
  height: 75px;
  width: 75px;
}

.parallax {
  /* Set a specific height */
  height: 100vh;

  /* Create the parallax scrolling effect */
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.parallax-caption {
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
  text-align: center;
  color: white;
  font-weight: 900;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px #000000;
}

.parallax-caption span.border {
  padding: 18px;
  font-size: 4rem;
}

.border {
  border: 0 !important;
}

/* NEW POST */
.new-post-form {
  max-width: 600px;
  margin: auto;
}

#new-post-form > input {
  width: 100%;
  margin-bottom: 1em;
}
