<%- include ./partials/header.ejs %>
  <div>
    <img class='splash img-fluid' src='http://lorempixel.com/output/nature-q-g-1920-480-8.jpg' />
  </div>

  <div class='container content'>
    <div class='row index-splash justify-content-center'>
      <button class='btn'>Add your travel tip</button>
    </div>
    <div class='row index-splash justify-content-center'>

      <div class='col-sm-3 profile-sidebar'>
        <div class='img-thumbnail rounded float-left'>
          <img class='rounded img-fluid' src='http://lorempixel.com/output/cats-q-c-400-400-5.jpg'/>
        </div>
        <div class='post-details'>
          <h6 class='user-name'>Cat Damon</h6>
          <h6 class='user-join-date'>Posted 10/19/17</h6>
        </div>
      </div>

      <div class='col-sm-9 offset-sm-1 profile-main'>
        <p>And sometimes switches in french and say "miaou" just because well why not favor packaging over toy so cat fur is the new black so kitty kitty or lick plastic bags chew on cable. Cats making all the muffins mew scratch leg; meow for can opener to feed me. Hopped up on catnip roll on the floor purring your whiskers off milk the cow or all of a sudden cat goes crazy, so eat plants, meow, and throw up because i ate plants.</p>
      </div>

      <div class='col-sm-3 profile-sidebar'>
        <div class='img-thumbnail rounded float-left'>
          <img class='rounded img-fluid' src='http://lorempixel.com/output/cats-q-c-400-400-7.jpg'/>
        </div>
        <div class='post-details'>
          <h6 class='user-name'>Diane Kitten</h6>
          <h6 class='user-join-date'>Posted 10/19/17</h6>
        </div>
      </div>

      <div class='col-sm-9 offset-sm-1 profile-main'>
        <p>Be a nyan cat, feel great about it, be annoying 24/7 poop rainbows in litter box all day flop over, so asdflkjaertvlkjasntvkjn (sits on keyboard) so chase after silly colored fish toys around the house. Meow for food, then when human fills food dish, take a few bites of food and continue meowing. Scratch me there, elevator butt jump off balcony, onto stranger's head or lick butt. Meow. </p>
      </div>

      <div class='col-sm-3 profile-sidebar'>
        <div class='img-thumbnail rounded float-left'>
          <img class='rounded img-fluid' src='http://lorempixel.com/output/cats-q-c-400-400-8.jpg'/>
        </div>
        <div class='post-details'>
          <h6 class='user-name'>Leopard Nimoy</h6>
          <h6 class='user-join-date'>Posted 10/19/17</h6>
        </div>
      </div>

      <div class='col-sm-9 offset-sm-1 profile-main'>
        <p>Scratch me there, elevator butt jump off balcony, onto stranger's head or lick butt. Meow. Mewl for food at 4am lick human with sandpaper tongue gnaw the corn cob cat slap dog in face so eat plants, meow, and throw up because i ate plants, toy mouse squeak roll over sleep on dog bed, force dog to sleep on floor. Rub face on owner.</p>
      </div>

    </div>
  </div>

<%- include ./partials/footer.ejs %>
