<%- include ./partials/header.ejs %>
  <div id='bg'>
    <img src='images/index-background.jpg' />
  </div>

  <div class='cities-dropdown container content'>
    <div class='row index-splash justify-content-center'>
      <div class='col-md-auto'>
        <h4>Where do you want to go?</h4>

        <div class="dropdown text-center">
          <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Pick a city
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <% cities.forEach(function(city) { %>
              <a class="dropdown-item" href="/cities/<%= city.id %>"><%= city.name %></a>
            <% }) %>
          </div>
        </div>

      </div>
    </div>
  </div>

<%- include ./partials/footer.ejs %>
