<div class='masthead fixed-top'>
  <div class='container nav-container'>
    <nav class='navbar'>
      <div class='mr-auto'>
        <a class='logo' href='/'><img class='logo' src="images/logo.svg" alt="roam-logo"></a>
        <a class='logo' href='/'>&nbsp;roam</a>
      </div>

      <!-- <ul class='navbar'>
        <li class='nav-item'><a class='nav-link' href='/login'>login</a></li>
        <li class='nav-item'><a class='nav-link' href='/signup'>signup</a></li>
      </ul> -->
      <ul class='navbar'>
        <li class='nav-item'><a class='nav-link' href='/profile'>profile</a></li>
        <li class='nav-item'><a class='nav-link' href='/logout'>logout</a></li>
      </ul>
    </nav>
  </div>
</div>
