<div class='col-sm-3 profile-sidebar'>
  <div class='profile-pic'>
    <img class='rounded img-fluid' src='http://lorempixel.com/output/cats-q-c-400-400-5.jpg'/>
  </div>

  <div class='profile-details'>
    <h4 class='user-name'><%= user.email %></h4>
    <h6 class='user-city'><%= user.city %></h6>
    <h6 class='user-join-date'>Joined <%= user.joined_on %></h6>
    <a class='tool-button edit-profile' href='#'><img class='tool' src="/images/edit-button.svg" alt="edit-button"></a>
  </div>
</div>
