<%- include ../partials/header.ejs %>

  <div class='container content'>
    <div class='row index-splash justify-content-center'>
      <div class='col-md-auto'>
        <h1>Log In</h1>
        <form method='post' action='/login'>
          <fieldset>
            <legend>Welcome back</legend>
            <pre class='login-error'><%= warning %></pre>
            <input type='text' name='email' placeholder='email' required><br>
            <input type='password' name='password' placeholder='password' required><br>
            <input type='submit' value='Submit'>
          </fieldset>
        </form>
      </div>
    </div>
  </div>

<%- include ../partials/footer.ejs %>
