<%- include ../partials/header.ejs %>

  <h1>Log In</h1>

  <form method='post' action='/login'>
    <fieldset>
      <legend>Welcome back</legend>
      <input type='text' name='email' placeholder='email'><br>
      <input type='password' name='password' placeholder='password'><br>
      <input type='submit' value='Submit'>
    </fieldset>
  </form>

<%- include ../partials/footer.ejs %>
