<%- include ../partials/header.ejs %>

  <h1>Sign Up</h1>

  <form>
    <fieldset>
      <legend>New User</legend>
      <input type='text' name='username' placeholder='email'><br>
      <input type='password' name='password' placeholder='password'><br>
      <input type='password' name='password' placeholder='confirm password'><br>
      <input type='submit' value='Submit'>
    </fieldset>
  </form>

<%- include ../partials/footer.ejs %>
