<div class='modal fade' id='delete-post' tabindex='-1' role='dialog' aria-hidden='true'>
  <div class='modal-dialog' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title'>Delete post?</h5>
        <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>
      <div class='modal-body'>
        Are you sure you want to delete <br />"<span class='city-name user-name'><%= post.title %></span>"?
        <form method='delete' action='/posts/delete/<% post.id %>'>
          <input type='hidden' name='post_id' value='<%= post.id %>'>
          <div class='modal-footer'>
            <button type='button' class='btn btn-sm btn-secondary' data-dismiss='modal'>Cancel</button>
            <button type='submit' class='btn btn-sm btn-dark'>Delete</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
