<%- include ../partials/header.ejs %>

  <div class='container content'>
    <form>
      <div class='form-group new-post-form'>
        <input class='form-control' type='text' id='post-title' placeholder='Title' />
        <textarea class='form-control' rows='8' placeholder='Write something here'></textarea>
        <button class='btn' type='submit'>Post</button>
      </div>
    </form>
  </div>

<%- include ../partials/footer.ejs %>
