<%- include ../partials/header.ejs %>
<div class='container content'>

  <div class='row'>
    <div class='col-sm-3 profile-sidebar'>
      <div class='profile-pic'>
        <img class='rounded img-fluid' src='http://lorempixel.com/output/cats-q-c-400-400-5.jpg'/>
      </div>

      <div class='profile-details'>
        <h4 class='user-name'></h4>
        <h6 class='user-city'>Oakland, CA</h6>
        <h6 class='user-join-date'>Joined October 2017</h6>
        <a class='tool-button edit-profile' href='#'><img class='tool' src="/images/edit-button.svg" alt="edit-button"></a>
      </div>
    </div>

    <div class='col-sm-9 offset-sm-1 profile-main'>
      <dl class="row">
      <dt class="col-sm-3 city-name">
        <a href='/posts/1' class='city-name'>Oakland is a city with stuff</a>
        <div>
          <a class='tool-button' href='#'><img class='tool' src="/images/edit-button.svg" alt="edit-button"></a>
          <a class='tool-button' href='#'><img class='tool' src="/images/delete-button.svg" alt="delete-button"></a>
        </div>
      </dt>
      <dd class="col-sm-9">
        <p>Human is washing you why halp oh the horror flee scratch hiss bite. Roll over and sun my belly scratch me there, elevator butt so i cry and cry and cry unless you pet me, and then maybe i cry just for fun stare at guinea pigs. Annoy kitten brother with poking attack dog, run away and pretend to be victim and slap kitten brother with paw flop over hide head under blanket so no one can see. Attack feet claws in your leg yet play riveting piece on synthesizer keyboard for mark territory meowing non stop for food meowzer.</p>
      </dd>

      <dt class="col-sm-3 city-name">
        <a href='/posts/1' class='city-name'>San Francisco is across the bay and also has stuff</a>
        <div>
          <a class='tool-button' href='#'><img class='tool' src="/images/edit-button.svg" alt="edit-button"></a>
          <a class='tool-button' href='#'><img class='tool' src="/images/delete-button.svg" alt="delete-button"></a>
        </div>
      </dt>
      <dd class="col-sm-9">
        <p>Fooled again thinking the dog likes me swat turds around the house for i could pee on this if i had the energy roll on the floor purring your whiskers off stare at the wall, play with food and get confused by dust scream at teh bath. Destroy couch plan steps for world domination stare at guinea pigs, yet lick the other cats kitty loves pigs stare out the window i cry and cry and cry unless you pet me, and then maybe i cry just for fun. Scratch the furniture claw drapes chase imaginary bugs.</p>
      </dd>
    </dl>

    </div>
  </div>

<%- include ../partials/footer.ejs %>
